
.dashboard{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.shotsContainer{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shotsContainer h1{
    padding: 0;
    margin: 0;
    color: #44484aff;
}

.btsContainer{
    display: flex; 
    justify-content: space-evenly;
    width: 5rem;
}

.atalho2Container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 45% 45%;
    grid-template-rows: 25% 25% 25%;
    height: 100vh;
    grid-gap: 2%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .atalho2Container{
        grid-template-columns: auto;
        grid-template-rows: repeat(6, auto);
      }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .atalho2Container{
        /* grid-template-columns: 100%; */
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .homeContainer{
        /* background-color: rgb(140, 0, 255); */
      }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .homeContainer{
        /* background-color: rgb(255, 238, 0); */
      }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .homeContainer{
        /* background-color: rgb(255, 145, 0); */
      }
}
