.dashboard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.shotsContainer{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.shotsContainer h1{
    padding: 0;
    margin: 0;
    color: #44484aff;
}

.btsContainer{
    display: flex; 
    justify-content: space-evenly;
    width: 5rem;
}

.atalho2Container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 12.5rem);
    height: auto;
    grid-gap: 2%;
}

/* Extra small devices (phones, 600px and down) celular*/
@media only screen and (max-width: 600px) {
    .atalho2Container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .atalho2Container{
        /* background-color: rgb(140, 0, 255); */
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .homeContainer{
        /* background-color: rgb(140, 0, 255); */
      }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .homeContainer{
        /* background-color: rgb(255, 238, 0); */
      }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .homeContainer{
        /* background-color: rgb(255, 145, 0); */
      }
}
