.paleGreen { background-color: rgb(149, 237, 179) !important; box-shadow: 1px 5px 5px 0px rgb(149, 237, 179);}
.cornflowerBlue { background-color: rgb(88, 168, 252) !important; box-shadow: 1px 5px 5px 0px rgb(88, 168, 252);}
.lightSalmon { background-color: rgb(252, 189, 144) !important; box-shadow: 1px 5px 5px 0px rgb(252, 189, 144);}
.paleVioletRed { background-color: rgb(235, 89, 118) !important; box-shadow: 1px 5px 5px 0px rgb(235, 89, 118);}
.mediumPurple { background-color: rgb(190, 121, 242) !important; box-shadow: 1px 5px 5px 0px rgb(190, 121, 242);}
.textColorDark{ color: #000000; }
.textColorWhite{ color: #fafafa;  text-shadow: 0 3px 1px #000000;}

.aquamarine { background-color: rgb(118, 232, 194) !important; box-shadow: 1px 5px 5px 0px rgb(118, 232, 194);}
.lightSteelBlue { background-color: rgb(189, 189, 242) !important; box-shadow: 1px 5px 5px 0px rgb(189, 189, 242);}
.sandyBrown { background-color: rgb(250, 178, 90) !important; box-shadow: 1px 5px 5px 0px rgb(250, 178, 90);}
.skyBlue { background-color: rgb(123, 198, 212) !important; box-shadow: 1px 5px 5px 0px rgb(123, 198, 212);}
.paleTurquoise { background-color: rgb(173, 224, 255) !important; box-shadow: 1px 5px 5px 0px rgb(173, 224, 255);}
.lightPink { background-color: rgb(250, 175, 170) !important; box-shadow: 1px 5px 5px 0px rgb(250, 175, 170);}

/* BOTÃO ATALHO MODELO 1*/
.atalhoContainer{
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    margin: 0.5rem;
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.atalhoContainer h3{
    padding: 0;
    margin: 0;
    font-size: 12px;
}
/* BOTÃO ATALHO MODELO 1 FIM */

/* BOTÃO ATALHO MODELO 2 */
.atalhoContainerModelo2{
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    padding: 4rem;
    margin: 1.5rem 1.5rem 0rem 0rem;    
}
/* BOTÃO ATALHO MODELO 2 FIM */

/* Extra small devices (phones, 600px and down)  CELL*/
@media only screen and (max-width: 600px) {
    .atalhoContainer{
        width: auto;
    }
    .atalhoContainer h3{
        font-size: 9px;
    }
    /* .atalhoContainerModelo2{
        width: auto;
    } */
}