.userDadoscontainer{
    width: 100vw;
    height: auto;
    background: linear-gradient(
        95deg,
        rgb(212, 103, 245),
        rgb(174, 78, 242)
    );
    display: flex;
    flex-direction: column;
}

.userDadoscontainerhildren{
    display: flex;
    flex-direction: column;
}
.profileEdit{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.userDadoscontainerImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.userDadoscontainerImg img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: solid 0.3rem #fafafa;
    margin: 1rem;
}



.infoDados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infoDados h1{
    color: #fafafa;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.infoDados b{
    color: #fafafa;
    font-size: 12px;
    font-family: monospace;
    font-weight: 100;
}

.btContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .btContainer{
        /* justify-content: space-between; */
      }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .btContainer{
        /* justify-content: space-evenly; */
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .userDadoscontainer{
        /* background: rgb(140, 0, 255); */
      }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .userDadoscontainer{
        /* background: rgb(255, 238, 0); */
      }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .btContainer{
        /*  */
      }
}